---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: virtualmachinemigrations.virt.virtink.smartx.com
spec:
  group: virt.virtink.smartx.com
  names:
    kind: VirtualMachineMigration
    listKind: VirtualMachineMigrationList
    plural: virtualmachinemigrations
    shortNames:
    - vmm
    singular: virtualmachinemigration
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.vmName
      name: VM
      type: string
    - jsonPath: .status.sourceNodeName
      name: Source
      type: string
    - jsonPath: .status.targetNodeName
      name: Target
      type: string
    - jsonPath: .status.phase
      name: Status
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              vmName:
                type: string
            required:
            - vmName
            type: object
          status:
            properties:
              phase:
                enum:
                - Pending
                - Scheduling
                - Scheduled
                - TargetReady
                - Running
                - Sent
                - Succeeded
                - Failed
                type: string
              sourceNodeName:
                type: string
              targetNodeName:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
